<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="DxCjERPConnection" 
         connectionString="data source=161.132.48.29,8966;initial catalog=JC_Db;persist security info=True;user id=SA;password=@3IS0@ejwU4A7VOHba990;pooling=False;multipleactiveresultsets=False;encrypt=False;trustservercertificate=False" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>PerMonitorV2</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
</configuration>